<a href="https://colab.research.google.com/github/Dunsino/Hamoye-Codes/blob/main/HDSC_STAGE_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Import the necessary libraries
import pandas as pd
import numpy as np

In [34]:
#read in the data
data_df = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv?raw=true.csv', encoding = 'latin')

In [54]:
#call the head 
data_df

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

Warning: total number of rows (60943) exceeds max_rows (20000). Limiting to first (20000) rows.

In [53]:
data_df.groupby('Y2014')['Y2017'].count()

Y2014
-1796.0      1
-1631.0      1
-849.0       2
-838.0       1
-685.0       1
            ..
 90425.0     1
 98094.0     1
 108756.0    1
 109593.0    1
 176405.0    1
Name: Y2017, Length: 4493, dtype: int64

In [55]:
#Question 13
data_df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [57]:
data_df.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]

In [63]:
data_df.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

In [61]:
data_df['Col']

KeyError: ignored